<form *ngIf="breeds && limits" class="filters-box">
    <app-breeds-filters class="filter" [breeds]="breeds" [removeFilterEvent]="removeFilterSubject.asObservable()" (breedsEmit)="setBreeds($event)"></app-breeds-filters>
    <app-limit-filters class="filter" [limits]="limits" (limitSelected)="setLimit($event)"></app-limit-filters>
</form>
<div class="filters-selected-box">
    <mat-chip-listbox *ngIf="breedsSelected && breedsSelected.length" aria-label="Breed filters selected">
        <mat-chip-row *ngFor="let breed of breedsSelected" (click)="removeBreed(breed.id)">
            {{ breed.name }}
            <button matChipRemove (click)="removeBreed(breed.id)">
              <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
    </mat-chip-listbox>
</div>
