.card {
    display: flex;
    height: 220px;
    width: 220px;

    .cat-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 540px) {
    .card {
        display: flex;
        height: 220px;
        width: 100vw;
    
        .cat-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}