.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .body-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 64px;
        height: calc(100vh - 70px);

        .filters {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 32px 16px 0 0;
        }

        .cards-container {
            display: flex;
            height: calc(100vh - 112px);

            .cards-box {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                overflow-y: scroll;
                row-gap: 16px;
            }
        }
    }
}