.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    .header-container {
        width: 100%;
    }

    .body-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1240px;
        height: calc(100vh - 70px);

        .filters {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 32px 16px 0 0;
        }

        .cards-container {
            display: flex;
            justify-content: center;
            height: calc(100vh - 112px);
            width: 100%;
            overflow-y: scroll;

            .cards-box {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 16px;
            }
        }
    }
}