:root {
    --black: rgb(31, 31, 31);
    --grey: #979797;
    --light-grey: #EEEEEE;
    --white: rgb(255, 255, 255);
    --accent: #7B2D2D;
    --secondary: #D99C52;
}

// Scrollbar style

::-webkit-scrollbar {
    height: 16px;
    width: 16px;
}
   
::-webkit-scrollbar-track {
    background-color: transparent;
}
   
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 3px solid transparent;
    background-color: var(--grey);
    background-clip: content-box;
}